*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.navbar a 
{
    text-decoration-line:none;
    color: black;
    padding: 1rem;
}

.navbar li 
{
    float: left;
    margin-left: 5.5rem;
    list-style: none;
    font-size: larger;
    margin-top: 0.2rem;
}
.navbar
{
    justify-content: center;
    display: flex;
    background-color: lightgreen;
    height: 3rem;
}

.navbar ul :hover
{
    background-color:#4fb357 ;
}
.navbar ul {
    margin-top: 0.5rem;
}


@media screen and (max-width: 900px) {

    .navbar li 
    {
        float: left;
        margin-left: 1rem;
        list-style: none;
        font-size: larger;
        margin-top: 0.2rem;
    }
}
