*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Heebo', sans-serif;
    background-color: 	#e8e9e9;
}


.navlist a ,.navlistR a
{
    text-decoration-line:none;
    color: black;
    padding: 1rem;
}

.navlist li 
{
    float: left;
    margin-left: 5.5rem;
    list-style: none;
    font-size: larger;
    margin-top: 0.2rem;
}
.navbar
{
    justify-content: center;
    display:flex;
    background-color: lightgreen;
    height: 3rem;
    position: fixed;
    top: 0;
    width: 100%;
}


.navbar ul {
    margin-top: 0.5rem;
}

.navlistR
{
    margin-left: 1rem;
}
.navlist
{
    margin-right: 10rem;
}

.navlistR li
{
    float: left;
    list-style: none;
    font-size: larger;
    margin-top: 0.2rem;
}



.iconQ
{
    height: 35px;
    width: 35px;
    margin-top: 5px;
}


























footer
{
    height: 22rem;
    width: 100%;

    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: auto;
    top: auto;
}

.legal::before
{
    position:relative;
    background-color: #000;
    content: "";
    display: block;
    height: 1.2px;
    width: 65rem;
    margin-top: 0.1rem;
    opacity: 30%;
    border-radius: 1rem;
}

.legal{
    height: 2rem;
    margin-top: 19.5rem;
    color: #3f453e;
    
}

.mainfooter ul{
    list-style-type: none;
    margin-top: 0.4rem;
}

.mainfooter li 
{   
    text-align: right;
    float: right;
    margin-bottom: 1rem;
}
.containor {
    margin-top: 0.5rem;
}

.links li{
    float: unset;
}

.links ul
{
    margin-right: 6rem;
    float: right;

}

.links 
{
    position: relative;
    font-size: 14px;
}

.links a 
{
text-decoration-line: none;
color: black;
}

.links li :hover
{
text-decoration-line:underline;
color: black;
}

footer{
    margin-top: 100vh;
}

.legal li 
{
    margin-left: 1rem;
}

.legal li:nth-of-type(1)::before
{
    position:relative;
    background-color: #000;
    content: "";
    height: 1rem;
    width: 1rem;
    position: relative;
}
footer::after
{
    background-color: #000;
    content: "";
    display: block;
    height: 1.2px;
    position: absolute;
    width: 65rem;
    opacity: 30%;
    border-radius: 1rem;
}

.legal a
{
    color: black;
    text-decoration-line: none;
    opacity: 80%;
}

.legal a:hover
{
    color: black;
    text-decoration-line:underline;
}




@media screen and (max-width: 900px) {

    .navbar li 
    {
        float: left;
        margin-left: 1rem;
        list-style: none;
        font-size: larger;
        margin-top: 0.2rem;
    }
}
