*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    min-height: 100vh;
    font-family: 'Heebo', sans-serif;
}

footer
{
    height: 22rem;
    width: 100%;
    background-color: lightgreen;
    align-content: center;
    justify-content: center;
    display: flex;
    margin-top: auto;
    top: auto;
}

.legal::before
{
    position:relative;
    background-color: #000;
    content: "";
    display: block;
    height: 1px;
    width: 65rem;
    margin-top: 0.1rem;
}

.legal{
    height: 2rem;
    margin-top: 19.5rem;
    color: #3f453e;
    
}

.mainfooter ul{
    list-style-type: none;
    margin-top: 0.4rem;
}

.mainfooter li 
{   
    text-align: right;
    float: right;
    margin-bottom: 1rem;
}
.containor {
    margin-top: 0.5rem;
}

.links li{
    float: unset;
}

.links ul
{
    margin-right: 8rem;
    float: right;

}

.links 
{
    position: relative;
}

.links a 
{
text-decoration-line: none;
color: black;
}

.links li :hover
{
text-decoration-line:underline;
color: black;
}